<section class="banner">
    <div class="container-large">
        <div class="banner__bg" style="background-image: url('../uploads/banner-bg.jpg')">
            <div class="container">
                <div class="banner__inner">
                    <img class="banner__img" src="img/icons/flag.svg" alt="flag" width="60" height="36">
                    <h2 class="title banner__title">Ми можемо разом</h2>
                    <p class="banner__text">
                        Соціальний центр ”Ми можемо разом” психологічної освіти, підтримки та терапії дітей і батьків
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
