<section id="help-parent" class="section section--help-parent">
    <div class="container-medium">
        <div class="bg-light">
            <div class="container">
                <div class="inner">
                    <div class="head-row">
                        <h2 class="title">Допомога батькам</h2>
                        <h4 class="sub-title">Заходи психологічної освіти, пидтримки та терапії батьків</h4>
                    </div>
                    <div class="row">
                        <div class="col col-1-2">
                            <div class="block-text">
                                <h3 class="medium-title text-left">
                                    Передумови та цілі
                                </h3>
                                <p class="text">
                                    Війна породила проблему психологічної травматизації тих, хто безпосередньо зіткнувся з умовами бойових дій:  воєннослужбовці збройних сил України, представників територіальної оборони, інші захисникі держави та цивільне населення. У теперішній час від психологічної травми постраждали і страждають як дорослі, так і діти. Багатьом з них довелося перебувати під обстрілами, ракетними та бомбовими ударами, ховатися у бомбосховищах та укриттях, переживаючи страх та глибокий травматичний стрес.
                                </p>

                                <p class="text">
                                    На сьогодні психологічної допомоги потребує значна частина цивільного населення: і ті, хто залишається в умовах активних бойових дій, і ті, хто виїхав, але зберігає наслідки пережитої психологічної травми. Найбільшої уваги та психологічної реабілітації потребують діти, їх батьки не мають адекватних знань для їхньої психологічної підтримки. Тому нагальною потребою у суспільстві є пошук шляхів психологічної підтримки та реабілітації для груп цивільного населення, постраждалого від війни, надання кваліфікованої психотерапевтичної та консультативна допомоги.
                                </p>

                                <p class="text">
                                    Одним із таких шляхів є створення за підтримки фінансування мобільних та стаціонарних психолого-реабілітаційних центрів/професійних команд для надання кваліфікованої психолого-реабілітаційної, психотерапевтичної та консультативної допомоги групам цивільного населення, зокрема дітям та їхнім батькам.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-2">
                            <img class="w100p" src="uploads/banner-help-1.jpg" alt="help">
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Які заходи заплановано
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/1.svg" alt="icon">
                                </div>
                                <p class="text">
                                    організація та проведення лекцій для батьків (матусь) з роз’яснювальною метою на тему травматичного стресу. Особливу увагу надаємо психологічному стану дитини, та особливостям взаємин між дитиною та батьками в умовах впливу військових факторів
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/2.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Організація та проведення закритих стабілізаційно-терапевтичних груп для батьків, які потребують фахової психологічної допомоги
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/3.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Організація та проведення занять для дітей, які знаходяться в укриттях, бомбосховищах і т.п.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Проектна діяльність
                        </h3>
                    </div>
                    <div class="container-mini">
                        <div class="row">
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/7.svg" alt="icon">
                                    </div>
                                    <p class="text">
                                        Повернення до нормального   психоемоційного стану дітей, що тривалий час перебувають в обмежених умовах укриття під час війни.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/8.svg" alt="icon">
                                    </div>
                                    <p class="text">
                                        Надання консультативної та психотерапевтичної допомоги батькам для психологічної адаптації та взаємодії із дітьми, що зазнали психологічної травми під час війни.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/6.svg" alt="icon">
                                    </div>
                                    <p class="text">
                                        Створення психолого-терапевтичного середовища в онлайн групах, терапевтичні заходи
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/9.svg" alt="icon">
                                    </div>
                                    <p class="text">
                                        Надання фінансової підтримки кваліфікованим психологам, психотерапевтам соціальним педагогам, які втратили роботу через залучення до роботи із оплатою праці.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="head-row">
                        <p class="large-text">
                            Завдяки нашим заходам батьки і їх діти покращать свій психологічний стан, що безпосередньо вплине на їх спроможність нормально і адекватно функціонувати і бути корисними для саміх себе, своїх родин, своїх громад і своєї держави. Після реалізації цього пілотного проекту ми зможемо його масштабувати.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
