<section id="help-children" class="section section--help-children">
    <div class="container-medium">
        <div class="bg-fff">
            <div class="container">
                <div class="inner">
                    <div class="head-row">
                        <h2 class="title">Допомога дітям</h2>
                        <h4 class="sub-title">Райдужний острів</h4>
                    </div>
                    <div class="row">
                        <div class="col col-1-2">
                            <div class="block-text">
                                <h3 class="medium-title text-left">
                                    Передумови та цілі
                                </h3>
                                <p class="text">
                                    Під час бойових дій в Харкові залишилось багато дітей. Як і дорослі, та ще й більшій, мірі вони відчувають страх, панічні атаки, портребу у безпеці, захисті, емоційному відновленні. Вони потребують уваги кваліфікованих дитячих психологів та педагогів в умовах віни.
                                </p>

                                <p class="text">
                                    Більшість заходів проводиться на волонтерських засадах із залученням педагогів-волонтерів та їх власних коштів. Тому для системної роботи потрібна фінансова підтримка фахівців (психологів, педагогів) на основі оплати праці, оскільки більшість з цих фахівців вже не мають можливості повноцінної роботи. Потрібна закупівля необхідних матеріалів, транспортна доставка, що вимагає фінансової підтримки.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-2">
                            <img class="w100p" src="uploads/banner-help-2.jpg" alt="help">
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Вирішення завдань
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/1.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Надання академічної, психологічної підтримки дітям, що страждають від війни у м. Харкові, тривалий час   перебувають у напружених умовах бомбосховищ, метро, укриттях.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/2.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Надання фінансової підтримки фахівцям (педагогам, психологам), які втратили роботу через залучення до роботи із дітьми із оплатою праці.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/3.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Внесення різноманіття у середовища громадян міста, що тривалий час перебувають в обмежених умовах укриття під час війни.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Проектна діяльність
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/4.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Організація мобільних бригад із фахівців (педагогів, психологів) для проведення занять із дітьми, що знаходяться у напружених та обмежених умовах укриття, сховищах при будинках та станціях метрополітену.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/5.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Заняття на місцях передбачають тренінгові вправи, рухавки, творчі та ігрові вправи у формі індивідуальної та групової роботи.
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-light">
                                <div class="block-icon">
                                    <img src="img/icons/6.svg" alt="icon">
                                </div>
                                <p class="text">
                                    Під час проведення занять з дітьми дорослі громадяни (у першу чергу, мами, бабусі) можуть отримати консультативну педагогічну та психологічну допомогу.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="head-row">
                        <p class="large-text">
                            Метою проекту є організаційна підтримка системної роботи мобільних груп по роботі із дітьми, що знаходяться в напружених умовах війни, для їх реабілітації та соціалізації.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
