<section id="our-team" class="section section--members" data-slider="container">
    <div class="container-medium">
        <div class="bg-fff">
            <div class="container">
                <div class="inner">
                    <div class="sub-head-row slider__head">
                        <h2 class="title text-left w100p">Наша команда</h2>
                        <div class="slider__navigation" data-slider="navigation">
                            <div class="prev-arrow"></div>
                            <div class="next-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-large">
        <div class="bg-fff">
            <div class="inner">
                <div class="slider" data-slider="slider">
                    <div class="slider__item">
                        <div class="block bg-light">
                            <div class="block-img">
                                <img src="uploads/avatar/avatar-1.jpg" alt="avatar">
                            </div>
                            <div class="block-box__part">
                                <h5 class="sub-title medium-text text-left">
                                    Калашніченко Марія
                                </h5>
                                <p class="text">
                                    Психолог, член ГО ІРСГП. Приватна психотерапевтична практика з 2012 року. Співпраця у 2014 році з Міжнародним Благодійним Фондом Help Us Help UA.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="block bg-light">
                            <div class="block-img">
                                <img src="uploads/avatar/avatar-2.jpg" alt="avatar">
                            </div>
                            <div class="block-box__part">
                                <h5 class="sub-title medium-text text-left">
                                    Олег Игоревич Поляков
                                </h5>
                                <p class="text">
                                    Практичний психолог, інструктор з підготовки до партнерскіх пологів, монтесорі-педагог, керівник монтесорі центру
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="block bg-light">
                            <div class="block-img">
                                <img src="uploads/avatar/avatar-3.jpg" alt="avatar">
                            </div>
                            <div class="block-box__part">
                                <h5 class="sub-title medium-text text-left">
                                    Оля Григорова
                                </h5>
                                <p class="text">
                                    Монтессорі вчитель з 12-річним стажем, провідний вчитель класу 3-6 у дитячому Монтессорі-клубі "Колібрі" у м. Харкові
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="block bg-light">
                            <div class="block-img">
                                <img src="uploads/avatar/avatar-4.jpg" alt="avatar">
                            </div>
                            <div class="block-box__part">
                                <h5 class="sub-title medium-text text-left">
                                    Олександр Юрійович Дорофєєв
                                </h5>
                                <p class="text">
                                    Реабілітолог. Психотерапевт за методом символдрама та системно сімейна психотерапія.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="block bg-light">
                            <div class="block-img">
                                <img src="uploads/avatar/avatar-5.jpg" alt="avatar">
                            </div>
                            <div class="block-box__part">
                                <h5 class="sub-title medium-text text-left">
                                    Юлія Арікова
                                </h5>
                                <p class="text">
                                    Практикуючий психолог, спеціаліст з психосоматики, провідна арт-терапевтичних груп, монтесорі-педагог, майстриня з народної ляльки та писанки.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
